{% extends '../base_nonav.html' %}

{% block content %}
<div class="container">
    <h1 class="title">Create Account</h1>
    <form id="createForm" action="{% url 'createUser' %}" method="post">
        {% csrf_token %}
        <div class="login-info mb-3">
            <div class="form-group">
                <input id='username' name='username' type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <input id='email' name='email' type="email" class="form-control" placeholder="Email" aria-label="Email">
            </div>    
            <div class="form-group">
                <input id='password' name='password' type="password" class="form-control" placeholder="Password" aria-label="Password">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a class="register-link" href = "{% url 'login' %}"><button type="button" class="btn btn-default register-btn">Cancel</button></a>
            </div>
            <div class="col-6">
                <button id="subButton" type="submit" class="btn btn-default">Create Account</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
