{% extends '../base_nonav.html' %}
{% load staticfiles %}
{% block content %}
<div id="login">
  <div class="container">
    <form id="loginForm" method="post">
      {% csrf_token %}
      <div class="login-info mb-3">
          <a><img class="dod-img" src="{% static 'icons/dod_logo.png' %}" width="275" height="275" alt=""></a>
          <br> </br>
        <div class="form-group">
          <input id='username' name='username' type="text" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <input id='password' name='password' type="password" class="form-control" placeholder="Password" aria-label="Password">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
            <a class="register-link" href = "{% url 'createUser' %}"><button type="button" class="btn btn-default register-btn">Register</button></a>
        </div>
        <div class="col-6">
          <button type="submit" class="btn btn-default login-btn">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}