{% extends '../base_nonav.html' %}

{% block content %}
  <form id="loginForm" method="post">
    {% csrf_token %}
    <div class="login-info mb-3">
      <input id='username' name='username' type="text" class="form-control" placeholder="Username">
      <input id='password' name='password' type="password" class="form-control" placeholder="Password" aria-label="Password">
    </div>

    <a href = "{% url 'createUser' %}">Need an account?</a><br/>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock %}