<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Login</title>
    </head> 
    <body>
<div class="container">
   
        <form id="createForm">{% csrf_token %}
            <div class="login-info mb-3">
                <input id='email' name='email' type="email" class="form-control" placeholder="Email" aria-label="Email">
                <input id='phone' name='phone' type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number">
                <input id='password' name='password' type="password" class="form-control" placeholder="Password" aria-label="Password">
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
</div>

   </body>
   <script type = "text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
   <script type = "text/javascript" src="../static/js/scripts.js"></script> 
</html>