html, body {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(to bottom, #3C3973, #43C6AC);
}

html, input{
    width: 70%;
}

html, .container{
    width: 400px;
    text-align: center;
}

.container img {
    text-align: center;
}

html, .container input {
    width: 100%;
    clear: both;
}

.title{
    margin-top: 75px;
    color: white;
    text-align: left !important;
    margin-bottom: 35px; 
}

#login{
    margin-top: 75px;
}

#subButton {
    width: 100%;
}

.dod-img {
    margin-bottom: 15px;
}

.register-btn {
    width: 100%;
}

.login-btn {
    width: 100%;
}

.register-link {
    text-decoration: none !important;
}

.register-link:hover {
    text-decoration: none;
}

.register-link:hover {
    text-decoration: none;
}

.col-6{
    margin-bottom: 17px;
}

.email_f{
    margin-top: 75px;
    color: white;
    text-align: center !important;
    margin-top: 300px;
    width: 40%;
    margin-left: 420px;
}

html h1{
     color: white;
}

html h2{
     color: white;
    margin-top: 300px;
    margin-left: 500px;
}

.pas4{
    color: white;
    width: 60%;
    margin-left: 10px;

}

