.alert-container{
    text-align: center;
    width: 30%;
    margin-bottom: 30px;
    max-width: 600px !important;
}

.alert-title{
    top: 10px;
}

.alert-container .container{
    margin-bottom: 15px;
}

.no-alerts-alert{
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.card-text{
    font-size: 16px !important;
}

.alert-method-box {
    margin-right: 15px;
}

.AlertsPage {
    margin-top: 125px;
}

.alertCard{
    margin: auto;
    background-color: #F9F9F9 !important;
    max-width: 600px;
    padding: 10px;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px 0px #e8e8e8;
    text-align: left;
    padding-left: 25px;
}

.no-padding-left{
    padding-left: 0px !important;
}

.no-padding-right{
    padding-right: 0px !important;
}

.left{
    text-align: left;
    float: left;
}

.right{
    text-align: right;
    float: right;
}