.page-title{
    margin-top: 100px;
    margin-bottom: 0;
}
.filter{
    max-width: 600px;
    float: left;
}
.btn-primary{
    background-color: #27ACAC !important;
    border-color: #27ACAC !important;
}
.btn-secondary{
    background-color: #dbdbdb !important;
    border-color: #dbdbdb !important;
    color: #232323 !important;
}
.historical-container{

}
