.page-title{
    margin-top: 100px;
    margin-bottom: 0;
}
.filter{
    margin-left: 200px;
    margin-right: 200px;
    
}
.btn-primary{
    background-color: #27ACAC !important;
    border-color: #27ACAC !important;
}
.btn-secondary{
    background-color: #dbdbdb !important;
    border-color: #dbdbdb !important;
    color: #232323 !important;
}
.historical-container{
    max-width: 400px;
    margin: auto;
    padding-top: 75px;
}
