nav {
    background: #191654;
    background: -webkit-linear-gradient(to right, #3C3973, #27ACAC);
    background: linear-gradient(to right, #3C3973, #27ACAC);
}

nav a {
    color: #F3F3F3 !important;
}

.user-menu {
    min-width: 100px !important;
    text-align: center !important;
}

.nav-link-dark {
    color: #535353 !important;
}

.navbar {
    justify-content: left !important;
}

.nav-link:hover {
    text-decoration: none;
}

.nav-link:active {
    text-decoration: none;
}

.dropdown-item:active {
    background-color: #ededed !important; 
    color:#000;
}