.station-container{
    text-align: left;
    width: 30%;
    margin-bottom: 30px;
}

.station-detail-container{
    padding: 0;
}

.station-detail-row{
    margin-top: 15px;
    margin-bottom: 15px;
}

.left{
    text-align: left;
    float: left;
}

.right{
    text-align: right;
    float: right;
}

.station-name{
    font-size: 16pt;
}

.station-uptime{
    font-size: 12pt;
    float: right;
    margin-top: 3px;
}

.station-card{
    margin: auto;
    background-color: #F9F9F9 !important;
    max-width: 600px;
    padding: 10px;
    border: none !important;
    box-shadow: 0px 0px 20px 0px #e8e8e8;
}

.connection-indicator{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: '#48DB28';
    border: 1px solid #8e8e8e;
    margin-right: 15px;
    margin-bottom: 3px;
}

.bottom-card{
    margin-top: 15px;
}

.station-info{
    margin-bottom: 5px;
    font-size: 14pt;
}

.filterWidth{
    margin: auto;
    max-width: 600px;
}

.no-padding-left{
    padding-left: 0px !important;
}

.no-padding-right{
    padding-right: 0px !important;
}