{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="centered">
        <div class="top-info">
            <p id="desc">{{ desc }}</p>
            <p id="temp">{{ temperature }}&#176;F</p>
            <p id="location">{{ location }}</p>
        </div>
        <div class="bottom-info">
            <p class="weather-list-item"><span class="float-left">Wind Speed:</span> <span class="float-right">{{ wind_speed }} mph</span></p>
            <p class="weather-list-item"><span class="float-left">Pressure:</span> <span class="float-right">{{ pressure }} hPa</span></p>
            <p class="weather-list-item"><span class="float-left">Humidity:</span> <span class="float-right">{{ humidity }}%</span></p>
        </div>
    </div>
</div>
{% endblock %}
