{% extends 'base.html' %}

{% block content %}
<div class="current">
    <div class="container">
        <div class="top-info">
            <p id="desc">{{ desc }}</p>
            <p id="temp">{{ temperature }}&#176;F</p>
            <p id="location">{{ location }}</p>
        </div>
        <div class="bottom-info-container">
            <div class="bottom-info">
                <div class="row">
                    <div class="col-12 weather-list-item">
                        <div class="col-7 weather-text float-left">Wind Speed: </div> 
                        <div class="col-5 weather-num float-right">{{ wind_speed }} mph</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 weather-list-item">
                        <div class="col-7 weather-text float-left">Pressure: </div>
                        <div class="col-5 weather-num float-right">{{ pressure }} hPa</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 weather-list-item">
                        <div class="col-7 weather-text float-left">Humidity: </div>
                        <div class="col-5 weather-num float-right">{{ humidity }}%</div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button id='email-btn' type="button" class="btn btn-danger">Send Email Alert</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
  <script>
    // var socket = new ReconnectingWebSocket('ws://' + window.location.host + '/weatherstations/');

    // socket.onopen = function open() {
    //   console.log('WebSockets connection created.');
    // };

    // if (socket.readyState == WebSocket.OPEN) {
    //   socket.onopen();
    // }
    var ws_path = "/weatherstations/";
    console.log("Connecting to " + ws_path);
    var webSocketBridge = new channels.WebSocketBridge();
    webSocketBridge.connect(ws_path);
    
    // Handle incoming messages
    webSocketBridge.listen(function(data) {

    });
  </script>
{% endblock script %}
