{% extends 'base.html' %}

{% block content %}
{% csrf_token %}
<div class="container">
    
    <div id="piOne"> Pi One Number:</div><span class="num1"> </span>
    <div id="piTwo"> Pi Two Number:</div><span class='num2'> </span>
    {%for station in wid%}
        {{ station.temperature}}
    {% endfor %}
    <script type="text/javascript">
        setInterval(updateRng, 5000);
        //called function updateRng every 5000 miliseconds (5 seconds)
        function updateRng(){
        //retrieves data from views.randomPage and will update html page without refresh
            $.ajax({
                type:'POST',
                url: '',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data){
                    console.log(data);

                    $('.num1').contents()[0].textContent = data[0];
                    $('.num2').contents()[0].textContent = data[1];
                    //updates span num1 and num2 with strings made from the json data
                },
                failure: function(data){
                    console.log(data);
                }
            });
        };
    </script>
</div>

{% endblock %}